*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: grey;
}


main{
  height: calc(100vh - 90px);
  background: #040404;
}

/* MAIN-NAV */
.main-nav{
  width: 200px;
  height: calc(100vh - 160px);
  padding-top: 20px;
  background: #040404;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 60px;
}

/* LOGO */
.logo{
  padding-bottom: 15px;
}

.logo, .home, .search, .library{
  padding-left: 20px;
}
.logo i, .logo h1{
  font-size: 30px;
  color: white;
}
.logo h1{
  display: inline-block;
}
/* /LOGO */

/* HOME, SEARCH, LIBRARY */
.home i{
  width: 16px;
  height: 16px;
}

.home, .search, .library{
  font-size: 16px;
}

.home{
  color: white;
  border-left: 2px solid green;
}

.search{
  padding-top: 10px;
  padding-bottom: 10px;
}
/* /HOME, SEARCH, LIBRARY */

.playlist, .install{
  padding-left: 20px;
  padding-right: 20px;
}

/* PLAYLIST */
.playlist h3{
  color: white;
}

.create{
  display: flex;
  align-items: center;
}
.create i{
  font-size: 30px;
  padding-right: 5px;
}

.playlist-name{
  height: 140px;
}
.playlist-name ul{
  padding-top: 10px;
}
.playlist-name li{
  margin-bottom: 10px;
  display: block;
}
/* /PLAYLIST */

/* INSTALL */
.install{
  width: 200px;
  height: 70px;
  background: #040404;
  position: fixed;
  bottom: 90px;
  z-index: 2;
}

.install hr{
  margin: 5px 0;
}

.username{
  color: white;
  font-weight: 700;
}
/* /INSTALL */

/* /MAIN-NAV */


/* MAIN-CONTENT */
.main-content{
  width: calc(100% - 200px);
  margin-left: 200px;
  padding-top: 60px;
  height: 100%;
  background: #121212;
  overflow-y: scroll;
}

.upgrade{
  height: 60px;
  width: calc(100% - 200px);
  padding: 20px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: rgba(100, 100, 100, 0.4);
}
.my-btn{
  padding: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 1px solid white;
}

/* CONTENT */
.content{
  padding: 15px;
}

/* NAV */
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 700;
}

nav ul li{
  margin: 0 10px;
}
/* /NAV */

/* RECENTLY */
.recently h3, .created h3, .popular h3{
  color: white;
  font-weight: 700;
}

.album-container{
  display: flex;
  justify-content: space-around;
}
.album{
  margin: 10px 0;
  width: 170px;
}
.album img{
  width: 100%;
}

.text-artist{
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding-top: 10px;
}
.text-album{
  text-align: center;
}
/* /RECENTLY */

/* CREATED */
.created{
  padding-top: 15px;
}

.daily-mix{
  display: flex;
  justify-content: space-around;
}

.mix-primo{
  width: 170px;
}
.mix-primo img{
  width: 100%;
}
/* /CREATED */

/* POPULAR */
.popular{
  padding-top: 15px;
}
.popular img{
  border-radius: 50%;
}

/* /MAIN-CONTENT */


/* FOOTER */
footer{
  padding: 15px;
  height: 90px;
  width: 100%;
  background: #282828;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* PLAYBACK */
.playback{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}
.playback img{
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.song-artist{
  color: white;
  font-weight: 700;
  margin-right: 20px;
}
.song-name{
  color: grey;
  font-size: 12px;
}

.like{
  display: flex;
}

.like i{
  font-size: 16px;
  color: gray;
}
.like i:last-child{
  margin-left: 10px;
}
/* /PLAYBACK */

.playback, .player, .volume{
  float: left;
}

/* PLAYER */
.player{
  text-align: center;
  width: 40%;
}

.buttons{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons i{
  color: white;
  font-size: 20px;
}

.buttons .play{
  font-size: 30px;
}

.player i:not(:last-child){
  margin-right: 10px;
}

.player-bar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar{
  display: inline-block;
  height: 5px;
  width: 60%;
  background: grey;
}

.time{
  font-size: 12px;
  margin: 0 10px;
}
/* /PLAYER */

/* VOLUME */
.volume{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}
.volume i{
  color: grey;
  margin-right: 10px;
}

.volume-bar{
  width: 40%;
  height: 5px;
  background: grey;
}
/* /VOLUME */

/* /FOOTER */




/* MEDIA QUERY PER XS */
@media screen and (max-width: 767px) {

  .disappear, .logo .disappear{
    display: none;
  }

  .logo i{
    font-size: 20px;
  }

  .main-nav, .install{
    text-align: center;
    width: 50px;
    padding-left: 0;
    padding-right: 0;
  }

  .logo, .home, .search, .library{
    padding-left: 0;
  }

  .main-content{
    width: calc(100% - 50px);
    margin-left: 50px;
  }
  .upgrade{
    width: calc(100% - 50px);
  }

  .install .fas.fa-user-circle{
    display: block;
    padding-top: 10px;
    font-size: 16px;
  }

  footer{
    padding: 5px;
  }

  .playback img{
    height: 30px;
    width: 30px;
    margin-right: 5px;
  }
  .song-artist{
    font-size: 10px;
    margin-right: 0;
  }
  .song-name{
    font-size: 10px;
  }

  .like{
    flex-wrap: wrap;
  }
  .like i{
    font-size: 14px;
  }
  .heart, .folder{
    margin-left: 3px;
  }


  .buttons i{
    font-size: 15px;
  }
  .buttons .play{
    font-size: 25px;
  }

  .time{
    font-size: 10px;
    margin: 0 5px;
  }

  .volume i{
    font-size: 12px;
    margin-right: 8px;
  }

}


@media screen and (max-width: 400px) {

  .song-artist, .song-name{
    font-size: 8px;
  }

}
/* /MEDIA QUERY PER XS */

@media screen and (max-width: 1310px) {

  .album{
    margin: 10px 5px;
  }

}

@media screen and (max-width: 1170px) {

  .album-container{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .album{
    margin: 10px 5px;
    width: calc(100% / 4 - 10px);
  }

}


@media screen and (max-width: 970px) {

  .album{
    margin: 10px 5px;
    width: calc(100% / 2 - 10px);
  }


}


/* MEDIA QUERY PER SCROLL NOME PLAYLIST E SCOMPARSA INSTALL */
@media screen and (max-height: 575px){

  .playlist-name{
    overflow-y: scroll;
    height: 150px;
  }

}

@media screen and (max-height: 563px){

  .playlist-name{
    height: 125px;
  }

}

@media screen and (max-height: 535px){

  .playlist-name{
    height: 90px;
  }

}

@media screen and (max-height: 507px){

  .playlist-name{
    height: 65px;
    position: fixed;
    width: 160px;
    z-index: 2;
    background: #040404;
  }

  .install{
    z-index: 0;
  }

}

@media screen and (max-height: 435px){

  .playlist-name{
    position: static;
    background: #040404;
  }

  .install{
    display: none;
  }

}
/* /MEDIA QUERY PER SCROLL NOME PLAYLIST */
